.intro {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .intro {
    width: calc(100% - 442px - 148px);
    margin-top: 92px;
    margin-left: 148px;
  }
}

@media screen and (min-width: 999px) and (max-width: 1279px) {
  .intro {
    width: calc(100% - 286px - 48px);
    margin-top: 92px;
    margin-left: 48px;
  }
}

@media screen and (min-width: 425px) and (max-width: 999px) {
  .intro {
    width: calc(100% - 24px * 2);
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    width: calc(100% - 16px * 2);
    margin: 64px auto 0;
  }
}
