.lead__caption {
  min-width: 158px;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 8px 0 0;
}

@media screen and (min-width: 425px) and (max-width: 999px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .lead__caption {
    margin-left: 16px;
  }
}
