.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: 1184px;
    padding: 28px 48px 0 48px;
  }
}

@media screen and (min-width: 999px) and (max-width: 1024px) {
  .header {
    padding: 28px 48px 0 48px;
  }
}

@media screen and (min-width: 425px) and (max-width: 999px) {
  .header {
    padding: 28px 24px 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 16px 16px 0 16px;
  }
}
