.header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 28px 48px 0 48px;
}

@media screen and (min-width: 768px) and (max-width: 999px) {
  .header {
    padding: 28px 24px 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 16px 0 16px;
  }
}
