.footer {
  max-width: 1184px;
  display: grid;
  grid-template-columns: min-content 2fr;
  gap: 18px;
  margin: 92px auto 0;
  padding-bottom: 24px;
}

@media screen and (min-width: 999px) and (max-width: 1279px) {
  .footer {
    margin: 92px 48px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 999px) {
  .footer {
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 186px;
    grid-template-columns: min-content;
    grid-template-rows: repeat(2, min-content);
    gap: 32px;
    margin: 64px 16px 0;
  }
}
