.places {
  max-width: 984px;
  display: grid;
  flex-direction: column;
  margin: 92px auto 0;
}

@media screen and (min-width: 999px) and (max-width: 1080px) {
  .places {
    margin: 92px 48px 0;
  }
}

@media screen and (min-width: 425px) and (max-width: 999px) {
  .places {
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 425px) {
  .places {
    margin: 64px 0 0;
  }
}
