.lead__subtitle {
  max-width: 640px;
  max-height: 72px;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 32px auto 0;
}

@media screen and (max-width: 675px) {
  .lead__subtitle {
    max-width: 288px;
    max-height: 40px;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 16px;
  }
}
